*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    width:50vw;
    height: 50vh;
    background-color: rgb(207, 207, 207);
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: aliceblue;
}

#adr_distai{
    display: none;
}

#atv1{
    background-image: url(../img/atv1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 80%;
}

#atv2{
    background-image: url(../img/pngwing.com.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 50%;
}

a{
    text-decoration: none;
}